.env
__pycache__/
*.pyc
.pytest_cache/
.venv/
backend/data/*.json
backend/lambda/lambda_deployment.zip
lambda_deployment.zip
credentials.txt
labsuser.pem
labsuser.ppk
ssourl.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
